a {
  color:blue
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px gray solid;
  margin:0;
  padding:20px
}
#grid {
  display: grid;
  grid-template-columns: 180px 1fr;
 }
ul {
  padding:20px;
  margin:0;
  width:150px;
    }
#coding {
  border-left:1px solid gray;
  padding-left:20px;
  }
@media(max-width:500px){
   h1 {
    border-bottom:0px;
    }
   #coding {
     border-left:0px;
     }
   #grid {
     display:block;
   }
   div {
     height:100px
   }
}
